<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка контрагентов.</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div>
        <div th:if="${message}" th:text="${message}"></div>

        <form action="#" th:action="@{/counterparty/upload}" method="post" enctype="multipart/form-data">
            <div>
                <label for="file">Выберите файл.</label>
                <input type="file" id="file" name="file" accept=".json,application/json">
            </div>
            <button type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>